Options -Indexes
IndexIgnore */*

Options FollowSymlinks

RewriteEngine On
RewriteRule ^admin(/.+)? backend/web/$1 [L,PT]
RewriteRule ^admin/(.+)? backend/web/$1 [L,PT]

Rewriterule ^(.+)?$ frontend/web/$1